main {
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
}

main h2 {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

main .main-default {
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

main .main-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

main .main-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3vh;
  /* background-color: azure; */
}

main .main-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  margin-right: 2vh;
  border-radius: 5%;
}

main .main-icon img {
  width: 8vh;
  height: 8vh;
}

main li {
  font-size: 1.3rem;
}

button {
  padding: 13px;
  width: 100%;
  font-size: 1rem;
  background-color: var(--bs-primary);
  color: var(--bs-light);
  border-radius: 3%;
  /* --bs-success: #62c462; */
  transition: 0.3s;
}

button:hover {
  background-color: var(--bs-dark);
  color: var(--bs-info);
  cursor: pointer;
}
